{% extends 'base.template.html' %}

{%block title%} Nanyang Cafe Food Menu {%endblock%}

{%block content %}

<h1 class="mt-4">Nanyang Cafe Food Menu</h1>

<a class="mt-4 btn btn-primary" href="{{ url_for('show_search') }}" role="button">Search Food</a>

<div class="row">
  {% for each_product in all_products %}
  <div class="col-sm-6 col-lg-4">
    <div class="card mt-3 mb-3">
      <div class="card-body ">
        <h5 class="card-title">{{each_product.product_name}}</h5>
        <p class="card-text">{{each_product.product_desc}}</p>
        <p class="card-text">{{each_product.product_price}}</p>
      </div>
      <div class="card-footer text-muted">
        {% for each_category in each_product.category %}
            <span class="badge badge-dark">{{each_category}}</span>
        {% endfor %}
        </div>
    </div>
  </div>
  {% endfor %}
</div>

{%endblock%}